<main class="main">
  <div class="left-side">

    <section class="function-section">
      <app-function-graph
        [data]="data"
      />
    </section>

    <!-- ### Section border ### -->

    <section class="variables-section">
      <!-- TODO app-data and app-range are technically the same component, unify them   -->
      <div class="variable-box">
        <div *ngFor="let variable of variables; let i = index">
          <app-data-input
            [variable]="variable"
            (valueChange)="onVariableChange($event, i)"
          />
        </div>
      </div>

      <div class="range-box">
        <div *ngFor="let range of range; let i = index">
          <app-range-input
            [index]="i"
            [range]="range"
            (valueChange)="onRangeChange($event, i)"
          />
        </div>
      </div>

      <app-variable-buttons
        [variables]="variables"
        [range]="range"
      />
    </section>

  </div>

  <!-- ### Section border ### -->

  <div class="right-side">
    <section class="polynomials-section">
      <mat-card>
        <mat-card-content class="recent-poly-box">
          <h2>Recently created polynomials</h2>
        </mat-card-content>
      </mat-card>
      <app-recent-polynomials
        [polynomials]="(polynomials$ | async)!"
      />
    </section>
  </div>
</main>
