<main class="main">
  <div class="left-side">

    <section class="function-section">
      <app-function-graph
        [data]="(data$ | async)!"
      />
    </section>

    <!-- ### Section border ### -->

    <section class="variables-section">
      <div class="variable-box">
        <div *ngFor="let variable of variables$ | async">
          <app-data-input
            [variable]="variable"
          />
        </div>
      </div>

      <div class="range-box">
        <div *ngFor="let range of range$ | async; let i = index">
          <app-range-input
            [index]="i"
            [range]="range"
          />
        </div>
      </div>

      <app-variable-buttons />

    </section>

  </div>

  <!-- ### Section border ### -->

  <div class="right-side">
    <section class="polynomials-section">
      <mat-card>
        <mat-card-content class="recent-poly-box">
          <h2>Recently created polynomials</h2>
        </mat-card-content>
      </mat-card>
      <app-recent-polynomials
        [polynomials]="(polynomials$ | async)!"
      />
    </section>
  </div>
</main>
