<div class="polynomial-list-box">
  <div *ngFor="let polynomial of (polynomials$ | async)">
    <mat-card>
      <mat-card-content class="poly-item">
        <p>
          Polynomial No.{{ polynomial.id }}
        </p>
        <div>
          <button
            *ngIf="polynomial.id === (polynomial$ | async)?.id"
            mat-raised-button
            color="accent"
            class="poly-item-selected"
            >
            Selected
          </button>
          <button
            *ngIf="polynomial.id !== (polynomial$ | async)?.id"
            mat-raised-button
            color="accent"
            (click)="polynomialView( polynomial.id! )"
          >
            View
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="polynomialDelete( polynomial.id! )"
          >
            Delete
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
